* {
  scroll-behavior: smooth;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #21201e;
}

section {
  padding: 3rem 0 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

/* Header */

header {
  background-color: #2f2e2de1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #9e9990;
}

.logo > span {
  color: #fea609;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-link {
  color: white;
  padding: 4px 8px;
}

.nav-link:hover {
  color: #fea609;
}

#burger {
  color: white;
  font-size: 2rem;
  display: none;
  justify-content: center;
}

/* Home */
.home {
  padding-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  position: relative;
  max-width: 1000px;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.left-side h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.left-side .role {
  color: #9e9990;
  font-size: 0.9rem;
}

.role > span {
  color: #fea609;
  letter-spacing: 20px;
  margin-left: 20px;
}

.intro {
  color: white;
  font-size: 1.2rem;
  margin-top: 2em;
}

/* Explore Button  */
.explore-btn {
  width: 140px;
  padding: 12px 8px;
  margin-top: 2em;
  color: #21201e;
  font-weight: bold;
  background-color: #fea609;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s ease;
}

.explore-btn:hover {
  color: black;
  font-weight: 500;
  background-color: #b07206;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s ease;
}

/* Social */
.social {
  display: flex;
  align-items:center;
  column-gap: 0.5rem;
  margin-top: 100px;
}

.social .bx {
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 50%;
  color: white;
  background-color: #2f2e2d;
  transition: 0.5s ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social .bx:hover {
  color: #fea609;
  transition: 0.3s all linear;
  transform: scale(1.15);
  transition: 0.5s ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.right-side {
  display: block;
  margin-left: auto;

}
.right-side img {
  width: 400px;
  margin-left: auto;
}
#aboutme,
#projects,
#contact {
  padding-top: 5%;
}
#aboutme h2 {
  font-size: 3rem;
  color: white;
  margin: 0;
}
#aboutme h2 span {
  color: #fea609;
}
#aboutme h4 {
  color: white;
  font-size: 1.5rem;
  font-weight: 100;
}
#aboutme h4 span {
  font-weight: bold;
}
.desc {
  color: gray;
  font-size: 1.1rem;
  letter-spacing: 3%;
  line-height: 30px;
}
#aboutme button {
  background-color: #fea609;
  border: none;
  margin-top: 20px;
  height: 38px;
  width: 160px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
}
#aboutme button img {
  width: 20px;
  height: 20px;
  margin: 0px 5px;
}
#aboutme button:hover {
  background-color: #b07206;
}
.about-hero {
  width: 100%;
  display: grid;
  margin-top: 65px;
  grid-template-columns: repeat(2, 1fr);
}
.skill-box {
  display: block;
  margin: 0 auto;
}
.skill-box span {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.lang-box {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  height: 300px;
  width: 460px;
  margin-top: 30px;
}

.lang-box img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

.info-box {
  display: block;
  margin: 0 auto;
}

.info-box span {
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
}

#inner-box2 {
  margin-top: 30px;
  background-color: transparent;
  border-radius: 15px;
  flex-wrap: wrap;
  display: block;
  height: 300px;
  width: 460px;
}

#inner-box2 > p {
  text-align: left;
  line-height: 30px;
  color: white;
}

#inner-box2 #first-line {
  padding-top: 30px;
}

hr {
  border: 0.1px solid #b07206;
}

.edu-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}

.education,
.experience {
  width: 45%;
  padding: 30px;
}

#aboutme .edu-topic {
  text-align: center;
  color: #fea609;
  font-size: 2rem;
  font-weight: bold;
}

.edu-box {
  width: 450px;
  padding: 30px 0;
  background-color: #2f2e2d;
  margin: 0 auto;
  border-radius: 15px;
  display: flex;
}

.item {
  padding: 12px;
}
.item .year {
  color: gray;
}
.item .edu-level {
  color: white;
  text-transform: capitalize;
}
.item .institute {
  color: white;
}
.vertical-line {
  width: 2px;
  height: auto;
  background: #fea609;
  margin: 0 30px;
}
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
  margin: 0 auto;
}
.ser-box {
  background-color: #2f2e2d;
  width: 75%;
  padding: 20px;
  border-radius: 15px;
  margin: 20px auto;
}
.ser-box > h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
}
.ser-box > img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: block;
}
.ser-box > p {
  color: #9e9990;
  line-height: 24px;
}
.ser-box:hover {
  box-shadow: 1px 1px 8px rgb(113, 112, 112);
}
#projects > h2 {
  font-size: 3rem;
}
#projects > .service-container > .ser-box {
  padding: 0;
}
#projects > .service-container > .ser-box > a > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.pr-box {
  display: flex;
  justify-content: center;
}
.pr-box > p {
  margin: 20px;
  font-size: 1.5rem;
  color: white;
}
.pr-box > p:hover {
  color: #fea609;
  text-decoration: underline;
}
#contact > h2 {
  color: white;
  font-size: 3rem;
}
#contact > h2 > span {
  color: #fea609;
}
#contact > p {
  color: #9e9990;
  font-size: 1.2rem;
}
form > input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}
textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid gray;
}
form > button {
  background-color: #fea609;
  color: white;
  border: none;
  padding: 15px;
  margin-top: 2%;
  border-radius: 8px;
}
#contact {
  height: 80vh;
}
footer {
  height: 90px;
  width: 100%;
  background-color: #2f2e2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer > p {
  color: white;
  padding-left: 120px;
  font-weight: 500;
}
footer > p > span {
  color: #fea609;
}
footer > nav {
  margin-right: 120px;
}
footer nav a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}
footer nav a:hover {
  color: #fea609;
}
@media screen and (max-width: 375px) {
  .about-hero {
    grid-template-columns: repeat(1, 1fr);
  }

  .edu-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 375px) and (max-width: 425px) {
}
@media screen and (min-width: 425px) and (max-width: 768px) {
}
@media screen and (min-width: 0px) and (max-width: 862px) {
  #burger {
    display: block;
  }
  header nav a {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) and (max-width: 1440px) {
}

@media screen and (min-width: 1440px) {
}
