* {
  scroll-behavior: smooth;
  cursor: default;
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #21201e;
}

section {
  padding: 3rem 0 2rem;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  margin: auto;
  width: 100%;
}

/*====================== Header ======================*/
header {
  background-color: #2f2e2de1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

.logo {
  font-size: 2rem;
  font-weight: 600;
  color: #9e9990;
}

.logo > span {
  color: #fea609;
}

.navbar {
  display: flex;
  align-items: center;
  column-gap: 1.5rem;
}

.nav-link {
  color: white;
  padding: 4px 8px;
}

.nav-link:hover {
  color: #fea609;
}

#burger {
  color: white;
  font-size: 2rem;
  display: none;
  justify-content: center;
}

/*====================== Home ======================*/
.home {
  padding-top: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content {
  position: relative;
  max-width: 1000px;
  width: 100%;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(2, 1fr);
}

.left-side h2 {
  color: white;
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.left-side .role {
  color: #9e9990;
  font-size: 0.9rem;
}

.role > span {
  color: #fea609;
  letter-spacing: 20px;
  margin-left: 20px;
}

.intro {
  color: white;
  font-size: 1.2rem;
  margin-top: 2em;
}

/*====================== Explore Button ======================*/
.explore-btn {
  width: 140px;
  padding: 12px 8px;
  margin-top: 2em;
  color: #21201e;
  font-weight: bold;
  background-color: #fea609;
  text-align: center;
  border-radius: 8px;
  transition: 0.5s ease;
}

.explore-btn:hover {
  color: black;
  font-weight: 500;
  background-color: #b07206;
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.5s ease;
}

/*====================== Social ======================*/
.social {
  display: flex;
  align-items:center;
  column-gap: 0.5rem;
  margin-top: 100px;
}

.social .fa {
  font-size: 1.5rem;
  padding: 12px;
  border-radius: 50%;
  color: white;
  background-color: #2f2e2d;
  transition: 0.5s ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.social .fa:hover {
  color: #fea609;
  transition: 0.3s all linear;
  transform: scale(1.15);
  transition: 0.5s ease-in-out cubic-bezier(0.075, 0.82, 0.165, 1);
}

.right-side {
  display: block;
  margin-left: auto;

}
.right-side img {
  width: 400px;
  margin-left: auto;
}

.heading {
  color: #fea609;
  font-size: 3rem;
}
.heading > span {
  color: #9e9990;
}
#aboutme,
#projects,
#contact {
  padding-top: 5%;
}

/*====================== About Me ======================*/

.about h4 {
  color: white;
  font-size: 1.5rem;
  margin-top: 2em;
  font-weight: 300;
}

.about h4 span {
  font-weight: bold;
}

.desc {
  margin-top: 1em;
  color: #9e9990;
  font-size: 1.1rem;
  line-height: 30px;
}

.btn {
  font-size: 0.98rem;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  padding: 12px 16px;
  margin-top: 1rem;
  color: #fea609;
  background-color: #2f2e2d;
  border-radius: 6px;
  transition: ease 0.5s;
}

.btn .fa {
  font-size: 1.1rem;
}

.btn:hover {
  transform: scale(0.9);
  transition: ease 0.5s;
  cursor: pointer;
  color: #b07206;
}

/*====================== Skills ======================*/
.about-hero {
  width: 100%;
  display: grid;
  margin-top: 65px;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.skill-box > p{
  font-size: 2rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.lang-box {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  height: 300px;
  margin-top: 30px;
}

.lang-box img {
  width: 50px;
  height: 50px;
  display: block;
  margin: auto;
}

/*====================== Information ======================*/
.info-box > p{
  font-size: 2.5rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.inner-box {
  background-color: transparent;
  border-radius: 15px;
  display: block;
  height: 300px;
  margin-top: 30px;
}

.inner-box > p {
  line-height: 30px;
  color: white;
  padding-top: 1.5em;
  display: block;
  margin-left: 3em;
}

hr {
  border: 0.1px solid #b07206;
}

/*====================== Education ======================*/
.edu-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  margin-bottom: 50px;
}

.education,
.experience {
  padding: 30px;
}

.edu-topic {
  text-align: center;
  color: #fea609;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 2em;
}

.edu-box {
  display: flex;
  padding: 30px 0;
  background-color: #2f2e2d;
  margin-top: 1.5em ;
  border-radius: 15px;
}

.item {
  padding: 12px;
  line-height: 2em;
}

.item .year {
  color: gray;
}

.item .edu-level {
  color: white;
  text-transform: capitalize;
}

.item .institute {
  color: white;
}

.vertical-line {
  width: 2px;
  height: auto;
  background: #fea609;
  margin: 0 30px;
}

/*====================== Services ======================*/
.service-container {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  width: 100%;
  margin-top: 1.5em;
  gap: 2em;
}
.ser-box {
  background-color: #2f2e2d;
  padding: 20px;
  border-radius: 15px;
  transition: 0.5s ease-out;
}
.ser-box > h3 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 400;
  color: white;
}
.ser-box > img {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  display: block;
}
.ser-box > p {
  color: #9e9990;
  line-height: 24px;
}
.ser-box:hover {
  transform: scale(1.05);
  transition: 0.3s ease-in;
}

/*====================== Projects ======================*/
.project > .service-container > .ser-box {
  padding: 0;
}
.service-container > .ser-box > a > img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.pr-box {
  display: flex;
  justify-content: center;
}
.pr-box > p {
  margin: 20px;
  font-size: 1.5rem;
  color: white;
}
.pr-box > p:hover {
  color: #fea609;
  text-decoration: underline;
}

/* Contact */
#contact {
  height: 80vh;
}

#contact > p {
  color: white;
  font-size: 1.2rem;
  margin-top: 2em;
}

form {
  margin-top: 1.5em;
}

form > input {
  width: 100%;
  height: 40px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  color: white;
  font-size: 1rem;
}

textarea {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid gray;
}

form > button {
  background-color: #fea609;
  color: #2f2e2d;
  border: none;
  padding: 12px 15px ;
  margin-top: 2%;
  border-radius: 8px;
}

form > button:hover {
  background-color: #b07206;
  color: #21201e;
}

/* Footer */
footer {
  background-color: #2f2e2d;
}

.footer {
  background-color: #2f2e2d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer > p {
  color: white;
  font-weight: 500;
}

.footer > p > span {
  color: #fea609;
}

.footer nav a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
}

.footer nav a:hover {
  color: #fea609;
}

/* Media Query for Responsive */

@media screen and (max-width: 1070px) {
  .container {
    margin: 0 auto;
    width: 90%;
  }

  .home-content {
    width: 90%;
  }
}

@media screen and (max-width:875px) {
  .lang-box {
    grid-template-columns: repeat(2, 1fr);
  }

  .about-hero {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) {
  #burger {
    display: block;
  }

  header nav a {
    display: none;
  }

  .service-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width:700px) {
  .edu-container {
    grid-template-columns: repeat(1, 2fr);
    width: 80%;
    margin: 0 auto
  }

  .right-side img {
    width: 100%;
  }
}

@media screen and (max-width:635px) {
  .service-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width:435px) {
  .logo, #burger {
    font-size: 1rem;
    text-align: right;
  }

  .home-content {
    grid-template-columns: repeat(1, 1fr);
  }

  .left-side h2 {
    font-size: 1.6rem;
  }

  .left-side .role{
    font-size: 0.6rem;
  }

  .role > span {
    letter-spacing: 10px;
    margin-left: 10px;
  }

  .intro {
    font-size: 0.8rem;
  }

  .explore-btn {
    width: 108px;
    padding: 12px 8px;
    font-size: 0.7rem;
  }

  .social{
    margin-top: 60px;
  }

  .social .fa{
    font-size: 1rem;
  }

  .right-side img {
    width: 80%;
    margin: 0 auto;
    display: block;
  }

  .heading{
    font-size: 2.5rem;
  }

  .about h4 {
    font-size: 1.3rem;
  }

  .desc {
    font-size: 0.9rem;
  }

  .btn {
    margin-left: 3%;
  }

  .skill-box > p , .info-box > p{
    font-size: 1.8rem;
  }

  .inner-box > p{
    font-size: 0.8rem;
  }

  .edu-container {
    width: 100%;
  }

  .service-container {
    width: 90%;
    margin: 0 auto;
  }

  .ser-box > h3 {
    margin-bottom: 1em;
  }

  #contact > p {
    font-size: 0.95rem;
  }

  .footer {
    font-size: 0.8rem;
    flex-direction: column;
    padding: 1em 0;
  }

  .footer nav {
    margin-top: 2em;
  }
}

@media screen and (max-width:325px) {
  .footer {
    font-size: 0.7rem;
  }
}